html, body {
    height: 100%;
    color: #f2f2f2;
    background: #f2f2f2;
    vertical-align: middle
}
.quadrants {
    height:50%;
    border: 6px solid ;
}
.secondQuadrant{
    height: 100%;
    width: 100%;
    border-radius:20px;
}
img {
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}
table {
    align-content: center;
    border-collapse: collapse;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
button, input{
background: #D89E00;
    height: 95%;
    width: 95%;
    font-size:30px

}
#streamQuadrant {
    display: flex;
    align-items: center;
    background: #E21B3C;
}
#blankQuadrant{
    display: flex;
    align-items: center;
    background: #1368CE;
}
#controlQuadrant {
    display:flex;
    align-content: center;

    background: #FFA602;
}
#scroller {
    height: 100%;
    width: 100%;
    overflow: scroll;
}
#logQuadrant {
    background: #26890C;
}