<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Robot Controller</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <table>
        <tr>
            <td class="quadrants">
                <div id="streamQuadrant" class="secondQuadrant">
                    <img src="stream">
                </div>
            </td>
            <td class="quadrants">
                <div id="blankQuadrant" class="secondQuadrant"></div>
            </td>
        </tr>
        <tr>
            <td class="quadrants">
                <form id="controlQuadrant" class="secondQuadrant">
                    <table>
                        <tr>
                            <td></td>
                            <td>
                                <a href=# id=forwardButton><button>Forward</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href=# id=leftButton><button>Left</button></a>
                            </td>
                            <td>
                                <input id="distance" type="number" placeholder="Distance">
                            </td>
                            <td>
                                <a href=# id=rightButton><button>Right</button></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a href=# id=backwardButton><button>Backward</button></a>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
            <td class="quadrants">
                <div id="logQuadrant" class="secondQuadrant">
                    <h1>Log:</h1>
                    <p id="log">Here will be log</p>
                </div>
            </td>
        </tr>
    </table>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
