<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tuning</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='tuning.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
</head>
<body>
    <table>
        <tr>
            <td class="quadrantLarge">
                <div id="streamQuadrant" class="secondQuadrant">
                    <img src="{{url_for('color_picker') }}">
                </div>
            </td>
            <td class="quadrantLarge">
                <div id="blankQuadrant" class="secondQuadrant">
                    <img src="{{url_for('threshold') }}">
                </div>
            </td>
        </tr>
        <tr>
            <td class="quadrantSmall">
                <form id="controlQuadrant" class="secondQuadrant">
                    <table>
                        <tr>
                            <td>
                                <label >KP Turn: </label>
                            </td>
                            <td colspan="9">
                                <div id="sliderKP"></div>
                            </td>
                            <td>
                                <label id="kpText">0</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>KF Turn: </label>
                            </td>
                            <td colspan="9">
                                <div id="sliderKF"></div>
                            </td>
                            <td>
                                <label id="kfText">0</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Max Turn: </label>
                            </td>
                            <td colspan="9">
                                <div id="sliderMaxTurn"></div>
                            </td>
                            <td>
                                <label id="maxTurnText" >0</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Offset: </label>
                            </td>
                            <td colspan="9">
                                <div id="sliderOffset"></div>
                            </td>
                            <td>
                                <label id="offsetText">0</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Speed: </label>
                            </td>
                            <td colspan="9">
                                <div id="sliderSpeed"></div>
                            </td>
                            <td>
                                <label id="speedText">0</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a href=# id=resetButton><button>Reset</button></a>
                            </td>
                            <td></td>
                            <td colspan="5">
                                <a href=# id=saveButton><button>Save</button></a>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
            <td class="quadrantSmall">
                <form id="logQuadrant" class="secondQuadrant">
                    <table id="controlGrid">
                            <tr>
                                <td colspan="9">
                                    <h1>Hue</h1>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label id="hlText">0</label>
                                </td>
                                <td colspan="7">
                                    <div id="sliderHue"></div>
                                </td>
                                <td>
                                    <label id="hhText">255</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="9">
                                    <h1>Saturation</h1>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label id="slText">0</label>
                                </td>
                                <td colspan="7">
                                    <div id="sliderSaturation"></div>
                                </td>
                                <td>
                                    <label id="shText">255</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="9">
                                    <h1>Value</h1>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label id="vlText">0</label>
                                </td>
                                <td colspan="7">
                                    <div id="sliderValue"></div>
                                </td>
                                <td>
                                    <label id="vhText">255</label>
                                </td>
                            </tr>
                            <tr><td colspan="9"></td></tr>
                        </table>
                </form>
            </td>
        </tr>
    </table>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

    <script src="{{url_for('static', filename='tuning.js')}}"></script>
    <script>
        window.inputsURL = "{{url_for('get_parameters')}}";
        window.parametersURL = "{{url_for('change_parameters')}}";
        window.saveURL = "{{url_for('save_settings')}}";
        window.resetURL = "{{url_for('load_settings')}}";
    </script>
</body>
</html>
